
<br>
<br>
<br>
<div class="conatiner-fluid">

<!--Table-->
<table class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="white-text">
          
           <th>First Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Date</th>
            <th>Time</th>
            
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor =" let a of  appoint$ | async  ">
            
            <td>{{ a.name}}</td>
            <td>{{ a.email }}</td>
            <td>{{ a.address }}</td>
            <td>{{ a.mydate}}</td>
            <td>{{ a.mytime}}</td>
          
         </tr> 
        
    </tbody>
    <!--Table body-->
</table>
<!--Table-->
                                    
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>