   <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg  bg-white  fixed-top scrolling-navbar">
        <logo>
            <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><img src="https://s3-ap-southeast-2.amazonaws.com/elasticbeanstalk-ap-southeast-2-809329118999/imageedit_1_5861057590.png" alt="Greencell Energy"></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <a class="nav-link" [routerLink]="['/']"mdbPageScroll href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" [routerLink]="['/home']" mdbPageScroll href="#about">About Us</a>
                </li>

              <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" [routerLink]="['/home']" mdbPageScroll href="#product">Products</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                        <a class="nav-link" [routerLink]="['/home']" mdbPageScroll href="#news">Solar News</a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" [routerLink]="['/home']" mdbPageScroll href="#test">Testimonials</a>
                        </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink = "/savings">savings</a>
                </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"routerLink = "/Book-appointments">Book Appoinmet</a>
                </li>
            <ng-template #anyuser>
            <li class="nav-item waves-light" mdbRippleRadius >
                
                    <a class="nav-link" (click)="form.show()" mdbRippleRadius>Login</a>
            </li></ng-template>
            <li  *ngIf="user$| async as user; else anyuser" class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                         {{ user.displayName }}
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" routerLink = "/Leads">View leads</a>
                       <a class="dropdown-item" routerLink = "/Scehduled-appointments">View Appointment</a>
                       <a class="dropdown-item" routerLink = "/sales-rep">sales rep</a>
                        <a class="dropdown-item"  (click)="logout()">Logout</a> 
                    </div>
                </li>

                
            </ul>
           
        </links>
    </mdb-navbar>

  

<!--Modal: Login / Register Form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Tab panels -->
                <mdb-tabset #staticTabs [buttonClass]="'nav nav-tabs tabs-2 light-blue darken-3'" [contentClass]="''" class="tab-content">
                    <!--Panel 7-->
                    <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading="<i class='fa fa-user mr-1'></i> Login">

                        <!--Body-->
                        <div class="modal-body mb-1">
                            <div class="md-form form-sm">
                                <i class="fa fa-envelope prefix"></i>
                                <input mdbActive type="text" id="form22" class="form-control">
                                <label for="form22">Your email</label>
                            </div>

                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input mdbActive type="password" id="form23" class="form-control">
                                <label for="form23">Your password</label>
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn btn-info waves-light" mdbRippleRadius>Log in <i class="fa fa-sign-in ml-1"></i></button>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer display-footer">
                            <div class="options text-center text-md-right mt-1">
                                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                <p>Login <a href="#" class="blue-text" (click)="login()">Google</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                        </div>

                    </mdb-tab>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <mdb-tab class="tab-pane fade" id="panel8" role="tabpanel" heading="<i class='fa fa-user-plus mr-1'></i> Register">

                        <!--Body-->
                        <div class="modal-body">
                            <div class="md-form form-sm">
                                <i class="fa fa-envelope prefix"></i>
                                <input mdbActive type="text" id="form24" class="form-control">
                                <label for="form24">Your email</label>
                            </div>

                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input mdbActive type="password" id="form25" class="form-control">
                                <label for="form25">Your password</label>
                            </div>

                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input mdbActive type="password" id="form26" class="form-control">
                                <label for="form26">Repeat password</label>
                            </div>

                            <div class="text-center form-sm mt-2">
                                <button class="btn btn-info waves-light" mdbRippleRadius>Sign up <i class="fa fa-sign-in ml-1"></i></button>
                            </div>

                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-right">
                                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                        </div>
                    </mdb-tab>
                    <!--/.Panel 8-->
                </mdb-tabset>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->
  
            <router-outlet>
        
                </router-outlet>
   
    
    
    

    
            
           
          
            
    <br>
    <br>
    <br>
    
    <!--Footer-->
    <footer class="page-footer mdb-color center-on-small-only ">
    
             
    
            <!--Call to action-->
            <div class="call-to-action">
                <ul>
                    <li>
                        <h5>Register for free</h5>
                    </li>
                    <li><a href="" class="btn btn-danger waves-light"(click)="showsucess()" mdbRippleRadius>Sign up!</a>
                       
                    </li>
                </ul>
            </div>
            <!--/.Call to action-->
        
           
        
            <!--Social buttons-->
            <div class="text-center mb-3">
        
                <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
                <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
                <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
                <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
                <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
                <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
                <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>
        
            </div>
            <!--/.Social buttons-->
        
            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
        
                </div>
            </div>
            <!--/.Copyright-->
        
        </footer>
        <!--/.Footer-->
                