 <header>
     
<section class="view intro-video">
  
                      <!--Video source-->
                <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
                </video>
                <div class="full-bg-img">
                        <div class="container flex-center">
                            <div class="d-flex align-items-center content-height">
                                <div class="row flex-center pt-5 mt-3">
                                    <div class="col-md-6 text-center text-md-left mb-5">
                                        <div class="white-text">
                                            <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Book your Appoinment Now! </h1>
                                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">You do not have to worry about your home’s roof size and orientation. GreenCell Energy will conduct a free assessment of your needs and design an ideal system for your needs. We make sure that the personalised solar system will offer you a great deal of flexibility in using solar energy.</h6>
                                            <br>
                                            <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Learn more</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-5 offset-xl-1">
                                            <!--Form-->
                                           
                                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                                <div class="card-body">
                                                    <!--Header-->
                                                    <div class="text-center">
                                                        <h3 class="white-text"><i class="fa fa-user white-text"></i> Book Appointment</h3>
                                                        <hr class="hr-light">
                                                    </div>
                    
                                                    <!--Body-->
                                                    <form [formGroup]="form1" (ngSubmit)="onSubmit()">
                                                    <div class="md-form">
                                                        <i class="fa fa-user prefix white-text"></i>
                                                        <input mdbActive type="text"  class="form-control" formControlName="name1">
                                                        <label for="form-contact-name" class="">Your name</label>
                                                    </div>
                                                    <div class="md-form">
                                                        <i class="fa fa-envelope prefix white-text"></i>
                                                        <input mdbActive type="text"  class="form-control" formControlName="email1">
                                                        <label for="form-contact-email" class="">Your email</label>
                                                    </div>
                    
                                                    <div class="md-form">
                                                        <i class="fa fa-lock prefix white-text"></i>
                                                        <input mdbActive type="text"  class="form-control" formControlName="phone1">
                                                        <label for="form-contact-phone" class="">Your phone</label>
                                                    </div>
                                                    <div class="md-form">
                                                        <i class="fa fa-lock prefix white-text"></i>
                                                        <input mdbActive type="text"  class="form-control" formControlName="address1">
                                                        <label for="form-contact-company" class="">Your Address</label>
                                                    </div>
                                                                  
                                                    <div class="text-center">
                                                        <button type="submit"  class="btn btn-deep-purple waves-light" mdbRippleRadius>Book Now</button>

                                                    </div>  <!--Info message-->
                                                                                                  </form>  
                                                    </div>
                    
                                                </div>
                                            </div>
                                   
                                        </div>
                                   
                                        <!--/.Form-->
                                   </div>   
                        </div></div>  












           
                              
                   
                                
</section>                        

</header>
    <div class="container">
     <!--Section: Features v.1-->
<section class="section feature-box" >

        <!--Section heading-->
        <h1 class="section-heading pt-4">Why GreenCell product is the best</h1>
        <!--Section description-->
        <p class="section-description lead grey-text">GreenCell Energy is focused on providing sustainable solar solutions to its clients governed by environmental safety priorities and its integral core values.</p>
    
        <!--Grid row-->
        <div class="row features-big">
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-area-chart red-text"></i>
                <h5 class="feature-title">Responsive</h5>
                <p class="grey-text">"We have been dealing with the planning, designing and installation of solar energy .We dedicate ourselves to provide only the best service to customers and to utilize renewable energy technologies for safer and cleaner environment for today and the future. </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-book cyan-text"></i>
                <h5 class="feature-title">Quality</h5>
                <p class="grey-text">It’s very important when selecting the best solar panels to use for your solar power system installation to bear in mind a few crucial factors aside from the price tag. Very few salesmen are going to tell you what they’re peddling isn’t very good. But We provides an indication of what some of the Best Solar brands on the market are with Quality/Value, Warranty, Monitoring in Australia .</p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="fa fa-coffee orange-text"></i>
                <h5 class="feature-title">Support</h5>
                <p class="grey-text">It’s very important when selecting the best solar panels to use for your solar power system installation to bear in mind a few crucial factors aside from the price tag. Very few salesmen are going to tell you what they’re peddling isn’t very good. But We provides an indication of what some of the Best Solar brands on the market are with Quality/Value, Warranty, Monitoring in Australia .</p>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>

    <!--Section: Features v.1-->
<!--Section: Pricing v.5-->
<section class="section pb-3"id="product">

        <!--Section heading-->
        <h1 class="section-heading h1 pt-4">Our pricing plans</h1>
        <!--Section description-->
        <p class="section-description">You do not have to worry about your home’s roof size and orientation. GreenCell Energy will conduct a free assessment of your needs and design an ideal system for your needs. We make sure that the personalised solar system will offer you a great deal of flexibility in using solar energy.</p>
    
        <!--Grid row-->
        <div class="row">
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">
                <!--Card-->
                <div class="pricing-card naked-card">
    
                    <!--Content-->
                    <div class="card-body">
                        <h5>Starter Packge</h5>
                        <!--Price-->
                        <div class="price">
                            <h1 class="red-text">10</h1>
                        </div>
                        <!--Price-->
                        <ul class="striped">
                                <li>
                                        <p><strong>2-3</strong> People</p>
                                    </li>
                            <li>
                                <p><strong>5kw</strong> plus systems</p>
                            </li>
                            <li>
                                <p><strong>8x 265</strong> watts Tier 1 panels</p>
                            </li>
                            <li>
                                    <p><strong>600$ - 800$</strong> Quaterly Bill</p>
                                </li>
                                <li>
                                        <p><strong>20 - 25 KW </strong> Daily Usage</p>
                                    </li>
                            <li>
                                <p><strong>25 </strong> year warranty</p>
                            </li>
                            <li>
                                <p><strong>2kw</strong> High efficient inverter</p>
                            </li>
                        </ul>
                        <a class="btn btn-danger btn-rounded waves-light"routerLink = "/Book-appointments" mdbRippleRadius>Book Appointment</a>
                    </div>
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">
    
                <!-- Card -->
                <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
    
                    <!-- Content -->
                    <div class="text-white text-center pricing-card d-flex align-items-center rgba-black-strong py-3 px-3">
    
                        <!--Content-->
                        <div class="card-body">
                            <h5>High User</h5>
                            <!--Price-->
                            <div class="price pt-0">
                                <h1>20</h1>
                            </div>
                            <!--Price-->
                            <ul class="striped">
                                    <li>
                                            <p><strong>2-3</strong> People</p>
                                        </li>
                                <li>
                                    <p><strong>10kw</strong> plus systems</p>
                                </li>
                                <li>
                                    <p><strong>8x 265</strong> watts Tier 1 panels</p>
                                </li>
                                <li>
                                        <p><strong>600$ - 800$</strong> Quaterly Bill</p>
                                    </li>
                                    <li>
                                            <p><strong>20 - 25 KW </strong> Daily Usage</p>
                                        </li>
                                <li>
                                    <p><strong>25 </strong> year warranty</p>
                                </li>
                                <li>
                                    <p><strong>2kw</strong> High efficient inverter</p>
                                </li>
                            </ul>
                            <a class="btn btn-rounded btn-outline-white waves-light"routerLink = "/Book-appointments" mdbRippleRadius> Book Appointment</a>
                        </div>
    
                    </div>
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">
                <!--Card-->
                <div class="pricing-card naked-card">
    
                    <!--Content-->
                    <div class="card-body">
                        <h5>Business Package</h5>
                        <!--Price-->
                        <div class="price">
                            <h1 class="red-text">4000</h1>
                        </div>
                        <!--Price-->
                        <ul class="striped">
                                <li>
                                        <p><strong>2-3</strong> People</p>
                                    </li>
                            <li>
                                <p><strong>2kw</strong> plus systems</p>
                            </li>
                            <li>
                                <p><strong>8x 265</strong> watts Tier 1 panels</p>
                            </li>
                            <li>
                                    <p><strong>600$ - 800$</strong> Quaterly Bill</p>
                                </li>
                                <li>
                                        <p><strong>20 - 25 KW </strong> Daily Usage</p>
                                    </li>
                            <li>
                                <p><strong>25 </strong> year warranty</p>
                            </li>
                            <li>
                                <p><strong>2kw</strong> High efficient inverter</p>
                            </li>
                        </ul>
                        <a class="btn btn-danger btn-rounded waves-light"routerLink = "/Book-appointments" mdbRippleRadius> Book Appointment</a>
                    </div>
    
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
          
    
    </section>
    
   <section id="about">
        <div class="jumbotron">
                <h1 class="h1-responsive">About Us</h1>
                <p class="lead">We’re proud to say we are end-to-end solar solution specialists We’re a ‘take it to the people’ style sales team backed up by damn good technicians. We’re proud of our team and proud to take great care of our customers.</p>
                <hr class="my-2">
                <p>We firmly believe solar is the way, the truth and light for producing zero emission energy to power your home. The importance of reducing reliance on fossil-fuel generated power to preserve our natural environment for future generations to enjoy is huge, and it’s our goal to bring this to the attention of those residing in our great country.

                        Now with Greencell Energy , it has never been easier to be your own solar system.
                        GreenCell Energy is Australian owned and operated Solar company supplying and installing photovoltaic solar installations throughout Australia We help Aussie homes and businesses harness the zero emission solar energy hitting their roofs every day.
                </p>
                <a class="btn btn-primary btn-lg waves-light" role="button" mdbRippleRadius>Learn more</a>
            </div>
   </section>


<!--Section: Blog v.2-->
<section class="section extra-margins text-center pb-3"id="news">

        <!--Section heading-->
        <h2 class="section-heading h1 pt-4">Recent Solar News</h2>
        <!--Section description-->
        <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        <!--Grid row-->
        <div class="row">
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight mb-2 waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg" alt="First sample image">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
    
                <!--Excerpt-->
                <a href="" class="pink-text"><h6 class="mb-3 mt-3"><i class="fa fa-map "></i><strong> Adventure</strong></h6></a>
                <h4 class="mb-3">This is title of the news</h4>
                <p>by <a><strong>Billy Forester</strong></a>, 15/07/2016</p>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus voluptas.</p>
                <a class="btn btn-pink btn-rounded waves-light" mdbRippleRadius>Read more</a>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight mb-2 waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(33).jpg" alt="Second sample image">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
    
                <!--Excerpt-->
                <a href="" class="deep-orange-text"><h6 class="mb-3 mt-3"><i class="fa fa-graduation-cap"></i><strong> Education</strong></h6></a>
                <h4 class="mb-3">This is title of the news</h4>
                <p>by <a><strong>Billy Forester</strong></a>, 12/07/2016</p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                <a class="btn btn-deep-orange btn-rounded waves-light" mdbRippleRadius>Read more</a>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight mb-2 waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(33).jpg" alt="Thrid sample image">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
    
                <!--Excerpt-->
                <a href="" class="cyan-text"><h6 class="mb-3 mt-3"><i class="fa fa-fire "></i><strong> Culture</strong></h6></a>
                <h4 class="mb-3">This is title of the news</h4>
                <p>by <a><strong>Billy Forester</strong></a>, 10/07/2016</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                <a class="btn btn-info btn-rounded waves-light" mdbRippleRadius>Read more</a>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Blog v.2-->
                
                            

    
<!--Section: Testimonials v.4-->
<section class="section text-center pb-4" id="test">
    
        <!--Section heading-->
        <h1 class="section-heading h1 pt-4">Testimonials</h1>
        
        <div class="row">
    
            <!--Carousel Wrapper-->
            <mdb-carousel  class="carousel no-flex testimonial-carousel carousel-multi-item multi-animation slide wow fadeIn" [type]="'carousel-multi-item'" [animation]="'slide'">
                <!--First slide-->
                <mdb-slide>
                    <!--Grid column-->
                    <div class="col-md-4">
    
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Anna Deynah</h4>
                            <h6 class="blue-text font-bold">Web Designer</h6>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>John Doe</h4>
                            <h6 class="blue-text font-bold">Web Developer</h6>
                            <p><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                    
                    <!--Grid column-->
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Abbey Clark</h4>
                            <h6 class="blue-text font-bold">Photographer</h6>
                            <p><i class="fa fa-quote-left"></i> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.</p>
                            
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                </mdb-slide>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-slide>
                    <!--Grid column-->
                    <div class="col-md-4">
    
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Blake Dabney</h4>
                            <h6 class="blue-text font-bold">Web Designer</h6>
                            <p><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis laboriosam.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Andrea Clay</h4>
                            <h6 class="blue-text font-bold">Front-end developer</h6>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Cami Gosse</h4>
                            <h6 class="blue-text font-bold">Phtographer</h6>
                            <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                </mdb-slide>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-slide>
                    <!--Grid column-->
                    <div class="col-md-4">
    
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Bobby Haley</h4>
                            <h6 class="blue-text font-bold">Web Developer</h6>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Elisa Janson</h4>
                            <h6 class="blue-text font-bold">Marketer</h6>
                            <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <h4>Robert Jacobs</h4>
                            <h6 class="blue-text font-bold">Front-end developer</h6>
                            <p><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis laboriosam.</p>
    
                            <!--Review-->
                            <div class="grey-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                </mdb-slide>
                <!--/Third slide-->
            </mdb-carousel>
            <!--Carousel Wrapper-->
    
        </div>
    
    </section>
    <!--/Section: Testimonials v.4-->
            
    
    
    


 
</div>
